mixin dashboard 
    .page-heading
        .page-title
            .row
                .col-12.col-md-6.order-md-1.order-last
                    h3= title
                    //- p.text-subtitle.text-muted Navbar will appear in top of the page.
                .col-12.col-md-6.order-md-2.order-first
                    nav(aria-label="breadcrumb").breadcrumb-header.float-start.float-lg-end
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href="index.html") Dashboard
                            li.breadcrumb-item.active(aria-current="page") Layout Vertical Navbar
        section.section
            .page-content
              section.row
                .col-12.col-lg-9
                  .row
                    .col-6.col-lg-3.col-md-6
                      .card
                        .card-body.px-3.py-4-5
                          .row
                            .col-md-4
                              .stats-icon.purple
                                i.iconly-boldShow
                            .col-md-8
                              h6.text-muted.font-semibold Profile Views
                              h6.font-extrabold.mb-0 112.000
                    .col-6.col-lg-3.col-md-6
                      .card
                        .card-body.px-3.py-4-5
                          .row
                            .col-md-4
                              .stats-icon.blue
                                i.iconly-boldProfile
                            .col-md-8
                              h6.text-muted.font-semibold Followers
                              h6.font-extrabold.mb-0 183.000
                    .col-6.col-lg-3.col-md-6
                      .card
                        .card-body.px-3.py-4-5
                          .row
                            .col-md-4
                              .stats-icon.green
                                i.iconly-boldAdd-User
                            .col-md-8
                              h6.text-muted.font-semibold Followers
                              h6.font-extrabold.mb-0 80.000
                    .col-6.col-lg-3.col-md-6
                      .card
                        .card-body.px-3.py-4-5
                          .row
                            .col-md-4
                              .stats-icon.red
                                i.iconly-boldBookmark
                            .col-md-8
                              h6.text-muted.font-semibold Saved Post
                              h6.font-extrabold.mb-0 112   
                  .row
                    .col-12
                      .card
                        .card-header
                          h4 Profile Visit
                        .card-body
                          #chart-profile-visit
                  .row
                    .col-12.col-xl-4
                      .card
                        .card-header 
                          h4 Profile Visit 
                        .card-body
                          .row
                            .col-6
                              .d-flex.align-items-center
                                svg.bi.text-primary(width="32" height="32" fill="blue" style="width:10px")
                                    use(xlink:href="/vendors/bootstrap-icons/bootstrap-icons.svg#circle-fill")
                                h5.mb-0.ms-3 Europe
                            .col-6
                              h5.mb-0 862
                            .col-12
                              #chart-europe
                          .row
                            .col-6
                              .d-flex.align-items-center
                                svg.bi.text-success(width="32" height="32" fill="blue" style="width:10px")
                                    use(xlink:href="/vendors/bootstrap-icons/bootstrap-icons.svg#circle-fill")
                                h5.mb-0.ms-3 America
                            .col-6
                              h5.mb-0 375
                            .col-12
                              #chart-america
                          .row
                            .col-6
                              .d-flex.align-items-center
                                svg.bi.text-danger(width="32" height="32" fill="blue" style="width:10px")
                                    use(xlink:href="/vendors/bootstrap-icons/bootstrap-icons.svg#circle-fill")
                                h5.mb-0.ms-3 Indonesia
                            .col-6
                              h5.mb-0 1025
                            .col-12
                              #chart-indonesia

                    .col-12.col-xl-8
                      .card
                        .card-header
                          h4 Latest Comments
                        .card-body 
                          .table-responsive
                            table.table.table-hover.table-lg
                              thead
                                tr
                                  th Name
                                  th Comment
                              tbody
                                tr
                                  td.col-3
                                    .d-flex.align-items-center
                                      .avatar.avatar-md
                                        img(src="/images/faces/5.jpg")
                                      .font-bold.ms-3.mb-0 Si Cantik
                                  td.col-auto
                                    p.mb-0 Congratulations on your graduation!
                                tr
                                  td.col-3
                                    .d-flex.align-items-center
                                      .avatar.avatar-md
                                        img(src="/images/faces/2.jpg")
                                      .font-bold.ms-3.mb-0 Si Ganteng
                                  td.col-auto
                                    p.mb-0 Wow amazing design! Can you make another tutorial for this design?
                .col-12.col-lg-3
                      .card 
                        .card-body.py-4.px-5 
                          .d-flex.align-items-center 
                            .avatar.avatar-xl 
                              img(src="/images/faces/1.jpg" alt="Face 1")
                            .ms-3.name
                              h5.font-bold John Duck
                              h6.text-muted.mb-0 @johnducky
                      .card 
                        .card-header 
                          h4 Recent Message 
                        .card-content.pb-4
                          .recent-message.d-flex.px-4.py-3
                            .avatar.avatar-lg
                              img(src="/images/faces/4.jpg")
                            .name.ms-4 
                              h5.mb-1 Hank Schrader
                              h6.text-muted.mb-0 @johnducky
                          .recent-message.d-flex.px-4.py-3
                            .avatar.avatar-lg
                              img(src="/images/faces/5.jpg")
                            .name.ms-4 
                              h5.mb-1 Dean Winchester
                              h6.text-muted.mb-0 @imdean
                          .recent-message.d-flex.px-4.py-3
                            .avatar.avatar-lg
                              img(src="/images/faces/1.jpg")
                            .name.ms-4 
                              h5.mb-1 John Dodol
                              h6.text-muted.mb-0 @dodoljohn
                          .px-4
                            .btn.btn-block.btn-xl.btn-light-primary.font-bold.mt-3 Start Conversation
                      .card
                        .card-header 
                          h4 Visitors Profile
                        .card-body
                          #chart-visitors-profile                 