extends ../../../layout
include ../../../layouts/layouts

block content
      #app
        include ../../../layouts/sidebar
         
        #main.layout-navbar
          include ../../../layouts/navbar

          #main-content
            include student

            footer
              include ../../../layouts/footer