//- include elements
//- mixin sidebar
//-     //- - var t = `${title}`;
//-     //- +active(${t},Students)
//-     .active#sidebar
//-         .sidebar-wrapper.active
//-             .sidebar-header
//-               .d-flex.justify-content-between
//-                 .logo
//-                   a(href="index.html")
//-                     img(src="/images/logo/logo.png" alt="Logo" srcset="")        
//-                 .toggler
//-                   a(href="#").sidebar-hide.d-xl-none.d-block
//-                     i.bi.bi-x.bi-middle                
//-             .sidebar-menu
//-               ul.menu
//-                 li.sidebar-title Menu
//-                 li.sidebar-item
//-                   a(href="index.html").sidebar-link
//-                     i.bi.bi-grid-fill
//-                     span Dashboard
//-                 li.sidebar-item.has-sub
//-                     a(href="#").sidebar-link
//-                         i.bi.bi-stack
//-                         span Admin                      
//-                     ul.submenu.active
//-                         li.submenu-item
//-                             a(href="component-alert.html") Something
//-                         li.submenu-item
//-                             a(href="component-alert.html") View Admins
//-                         li.submenu-item
//-                             a(href="component-alert.html") Permissions
//-                 li.sidebar-item.has-sub
//-                     a(href="#").sidebar-link
//-                         i.bi.bi-collection-fill
//-                         span Students
//-                     ul.submenu
//-                         li.submenu-item
//-                             a(href="extra-component-avatar.html") Admission
//-                         li.submenu-item
//-                             a(href="extra-component-avatar.html") View Students
//-                         li.submenu-item
//-                             a(href="extra-component-avatar.html") View Results
//-                 li.sidebar-item.has-sub
//-                     a(href="#").sidebar-link
//-                         i.bi.bi-collection-fill
//-                         span Lecturers
//-                     ul.submenu
//-                         li.submenu-item
//-                             a(href="extra-component-avatar.html") Admission
//-                         li.submenu-item
//-                             a(href="extra-component-avatar.html") View Students
//-                         li.submenu-item
//-                             a(href="extra-component-avatar.html") View Results
//-                 li.sidebar-item.has-sub
//-                     a(href="#").sidebar-link
//-                         i.bi.bi-collection-fill
//-                         span Parents
//-                     ul.submenu
//-                         li.submenu-item
//-                             a(href="extra-component-avatar.html") Admission
//-                         li.submenu-item
//-                             a(href="extra-component-avatar.html") View Students
//-                         li.submenu-item
//-                             a(href="extra-component-avatar.html") View Results
//-                 li.sidebar-item
//-                     a(href="form-layout.html").sidebar-link
//-                         i.bi.bi-file-earmark-medical-fill
//-                         span Categories
//-                 li.sidebar-title Settings
//-                 li.sidebar-item.has-sub
//-                     a(href="#").sidebar-link
//-                         i.bi.bi-pentagon-fill
//-                         span Permission
//-                     ul.submenu
//-                         li.submenu-item
//-                             a(href="ui-widgets-chatbox.html") Chatbox
//-                         li.submenu-item
//-                             a(href="ui-widgets-pricing.html") Pricing
//-                         li.submenu-item
//-                             a(href="ui-widgets-todolist.html") To-do List