.active#sidebar
    .sidebar-wrapper.active
        .sidebar-header
            .d-flex.justify-content-between
                .logo
                    a(href="index.html")
                    img(src="/images/logo/logo.png" alt="Logo" srcset="")        
                .toggler
                    a(href="#").sidebar-hide.d-xl-none.d-block
                        i.bi.bi-x.bi-middle                
        .sidebar-menu
            ul.menu
                li.sidebar-item(class=(title === "Dashboard" ? "active" : undefined))
                    a(href="/").sidebar-link
                        i.bi.bi-grid-fill
                        span Dashboard
                li.sidebar-item.has-sub
                    a(href="#").sidebar-link
                        i.bi.bi-stack
                        span Admin                      
                    ul.submenu
                        li.submenu-item
                            a(href="#") Something
                        li.submenu-item
                            a(href="#") View Admins
                        li.submenu-item
                            a(href="#") Permissions
                li.sidebar-item.has-sub(class=(category === "Students" ? "active" : undefined))
                    a(href="#").sidebar-link
                        i.bi.bi-collection-fill
                        span Students
                    ul.submenu(class=(category === "Students" ? "active" : undefined))
                        li.submenu-item(class=(submenu === "AllStudents" ? "active" : undefined))
                            a(href="/allstudents") All Students
                        li.submenu-item
                            a(href="/addstudent") Add Student
                        li.submenu-item
                            a(href="#") View Result
                li.sidebar-item.has-sub(class=(title === "Lecturers" ? "active" : undefined))
                    a(href="#").sidebar-link
                        i.bi.bi-collection-fill
                        span Lecturers
                    ul.submenu
                        li.submenu-item
                            a(href="#") Admission
                        li.submenu-item
                            a(href="#") View Students
                        li.submenu-item
                            a(href="#") View Results
                li.sidebar-item.has-sub
                    a(href="#").sidebar-link
                        i.bi.bi-collection-fill
                        span Parents
                    ul.submenu
                        li.submenu-item
                            a(href="#") Admission
                        li.submenu-item
                            a(href="#") View Students
                        li.submenu-item
                            a(href="#") View Results
                li.sidebar-item
                    a(href="form-layout.html").sidebar-link
                        i.bi.bi-file-earmark-medical-fill
                        span Categories
                li.sidebar-title Settings
                li.sidebar-item.has-sub
                    a(href="#").sidebar-link
                        i.bi.bi-pentagon-fill
                        span Permission
                    ul.submenu
                        li.submenu-item
                            a(href="ui-widgets-chatbox.html") Chatbox
                        li.submenu-item
                            a(href="ui-widgets-pricing.html") Pricing
                        li.submenu-item
                            a(href="ui-widgets-todolist.html") To-do List