extends layout
include layouts/layouts
include pages/dashboard

block content
      #app
        +sidebar
         
        #main.layout-navbar
          +navbar

          #main-content
            +dashboard

            footer
              +footer