doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/vendors/bootstrap-icons/bootstrap-icons.css")
    link(rel="stylesheet", href="/vendors/sweetalert2/sweetalert2.all.min.js")
    link(rel="stylesheet", href="/stylesheets/animate.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/app.css")
  body
      .container.login.bigbox
        .container.smallbox.col-lg-5.col-12
          h1.text-center.mb-4.auth-title Log in
          form(id="form")
            .form-group.position-relative.has-icon-left.mb-4
              input.form-control.form-control-xl.email(type="email" name="email" id="email" placeholder="Email")
              .email-error
              .form-control-icon
                i.bi.bi-person
            .form-group.position-relative.has-icon-left.mb-4
              input.form-control.form-control-xl.password(type="password" name="password" id="password" placeholder="Password")
              .password-error
              .form-control-icon
                i.bi.bi-shield-lock
              .form-control-icon.showToggle
                i.bi.bi-eye
            .form-check.form-check-lg.d-flex.align-items-end
              input.form-check-input.me-2(type="checkbox" value="" id="flexCheckDefault")
              label.form-check-label.text-gray-600(for="flexCheckDefault") Keep me logged in
            button.btn.btn-primary.btn-block.btn-lg.shadow-lg.mt-5(type="submit" onclick="login()") Log in

          .text-center.mt-5.text-lg.fs-4
            p.text-gray-600 Don't have an account? 
              a(href="/signup").font-bold Sign up.
            p
              a.font-bold(href="/forgotpassword") Forgot password?.

      script(src="/javascripts/jquery.min.js")
      script(src="/javascripts/jquery.validate.js")
      script(src="/javascripts/bootstrap.bundle.min.js")
      script(src="/vendors/sweetalert2/sweetalert2.all.min.js")
      script(src="/vendors/toastify/toastify.js")
      script(src="/scripts/main.js")