doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/vendors/toast/iziToast.min.js")
    link(rel="stylesheet", href="/vendors/bootstrap-icons/bootstrap-icons.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/app.css")
  body 
      .container.login.bigbox
        .container.smallbox.col-lg-6.col-12
          h1.text-center.mb-4.auth-title= title
          form(id="form")
            .form-group.position-relative.has-icon-left.mb-4.col
              input.form-control.form-control-xl.name(type="text" id="name" name="name" placeholder="Name")
              .name-error
              .form-control-icon
                i.bi.bi-person
            .form-group.position-relative.has-icon-left.mb-4.col
              input.form-control.form-control-xl.email(type="email" id="email" name="email" placeholder="Email")
              .email-error
              .form-control-icon
                i.bi.bi-envelope
            .form-group.position-relative.has-icon-left.mb-4
              input.form-control.form-control-xl.password(type="password" id="password" name="password" placeholder="Password")
              .email-error
              .form-control-icon
                i.bi.bi-shield-lock
            button.btn.btn-primary.btn-block.btn-lg.shadow-lg.mt-2(type="submit" onclick="signup()") Sign Up
          .text-center.mt-5.text-lg.fs-4
            p.text-gray-600 Already have an account? 
              a(href="/login" class="font-bold") Log in.

      script(src="/javascripts/jquery.min.js")
      script(src="/javascripts/jquery.validate.js")
      script(src="/javascripts/bootstrap.bundle.min.js")
      script(src="/vendors/sweetalert2/sweetalert2.all.min.js")
      script(src="/scripts/main.js")     